<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VT999 là nhà cái cá cược trực tuyến uy tín hàng đầu Châu Á. Với hơn hàng ngàn cá cược đa dạng từ cá cược thể thao, game casino, xổ số, lô đề, bắn cá, nổ hũ...Tham gia ngay để nhận khuyến mãi khủng từ nhà cái VT999">
    <meta name="keywords" content="VT999 sân chơi cá cược hàng đầu tại Việt Nam : Casino Online, Xổ số, Tài xỉu, Xóc đĩa, Nổ hũ, Thể thao, Bắn cá, Xổ số">
    <!-- icon -->
    <link rel="icon" href="../img/icon.webp">
    <!-- swiper -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- link ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- style -->
    <link rel="stylesheet" href="../style/style.css">
    <title>VT999 - NHÀ CÁI CÁC GAME CÁ CƯỢC HÀNG ĐẦU CHÂU Á</title>
</head>
<body>
    
    <!-- header -->
    <header>

        <!-- logo, btn top and icon-bars-->
        <div class="bg-orange-50">
            <div class="max-w-[1080px] m-auto flex justify-between  items-center p-4">

                <!-- icon bar -->
                <div class="md:hidden">
                    <ion-icon name="menu-outline" class=" text-2xl bg-orange-500 p-1 rounded-md text-white bars"></ion-icon>
                </div>

                <!-- logo -->
                <div class="flex sm:justify-center w-36">
                   <a href="../index.html">
                    <img src="../img/logo.png" alt="logo" class="w-full">
                   </a>
                </div>

                <!-- btn-top -->
                <div class="md:flex gap-3 text-center">
                    <a href="https://www.hay88.one/?inviteCode=8693902" class="bg-orange-400 py-2 px-4 text-white font-semibold rounded-md shadow-xl shadow-black-900 md:inline-block hidden hover:bg-orange-500">ĐĂNG NHẬP</a>
                    <a href="https://www.hay88.one/?inviteCode=8693902" class="bg-orange-400 py-2 px-4 text-white font-semibold rounded-md shadow-xl shadow-black-800 md:inline-block hidden hover:bg-orange-500">ĐĂNG KÝ</a>
                </div>
                
            </div>
        </div>
               
        <!-- link-top-->
        <nav class="max-w-[1080px] m-auto">
            <div class="md:flex justify-center items-center gap-6 py-4 hidden font-semibold">
                <a href="../index.html" class="hover:text-orange-500">TRANG CHỦ</a>
                <a href="../component/hu.html" class="text-orange-500">HƯỚNG DẪN</a>
                <a href="../component/no.html" class="hover:text-orange-500">NỔ HŨ</a>
                <a href="../component/li.html" class="hover:text-orange-500">LIVE CASINO</a>
                <a href="../component/ca.html" class="hover:text-orange-500">CÁ CƯỢC THỂ THAO</a>
                <a href="../component/ba.html" class="hover:text-orange-500">BẮN CÁ</a>
            </div>
        </nav>

        <!-- btn-bottom -->
        <div class="bg-gray-100">
            <div class="md:hidden flex justify-center gap-3 text-center py-2">
                <a href="https://www.hay88.one/?inviteCode=8693902" class="bg-orange-400 py-2 px-4 text-white font-semibold rounded-md shadow-xl shadow-black-900 inline-block hover:bg-orange-500">ĐĂNG NHẬP</a>
                <a href="https://www.hay88.one/?inviteCode=8693902" class="bg-orange-400 py-2 px-4 text-white font-semibold rounded-md shadow-xl shadow-black-800 inline-block hover:bg-orange-500">ĐĂNG KÝ</a>
            </div>
        </div>

        <!-- link-bottom-->
        <nav class="nav-bottom">
            <div class="flex flex-col font-semibold bg-gray-200 ">
                <a href="../index.html" class="hover:text-orange-500 py-4 px-4 hover:bg-slate-50">TRANG CHỦ
                </a>
                <a href="../component/hu.html" class="hover:text-orange-500 border-t border-gray-50 py-4 px-4 hover:bg-slate-50">HƯỚNG DẪN</a>
                <a href="../component/no.html" class="hover:text-orange-500 border-t border-gray-50 py-4 px-4 hover:bg-slate-50">NỔ HŨ</a>
                <a href="../component/li.html" class="hover:text-orange-500 border-t border-gray-50 py-4 px-4 hover:bg-slate-50">LIVE CASINO</a>
                <a href="../component/ca.html" class="hover:text-orange-500 border-t border-gray-50 py-4 px-4 hover:bg-slate-50">CÁ CƯỢC THỂ THAO</a>
                <a href="../component/ba.html" class="hover:text-orange-500 border-t border-gray-50 py-4 px-4 hover:bg-slate-50">BẮN CÁ</a>
            </div>
        </nav>
    </header>

    <!-- hero -->
    <section>
        <div class="max-w-[1080px] m-auto p-4">
            <h2 class="h2 text-center">CATEGORY ARCHIVES: HƯỚNG DẪN</h2>
            <div class="flex md:flex-row flex-col gap-4">
                <!-- left -->
                 <div class="md:w-[70%] w-[100%]">
                    
                    <div>
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full pt-10">HƯỚNG DẪN</span>
                        <h1 class="h1 text-center">Rút tiền Vt999 – Chỉ vài bước là tiền về tài khoản</h1>
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full py-4">POSTED ON THÁNG MƯỜI HAI 25, 2023 BY ADMIN</span>
                        <div class="flex justify-center m-auto items-center md:max-w-[80%] w-[100%] py-2">
                            <img src="../img/15.png" alt="" class="w-[100%]">
                        </div>
                        <p class="leading-8 py-2">
                            Hướng dẫn chi tiết rút tiền Vt999 Rút tiền từ nhà cái luôn là vấn đề mà nhiều người chơi quan tâm, đặc biệt là đối với các thành viên mới. Vt999 là nhà cái uy tín hàng đầu nên việc rút tiền ở đây cũng rất đơn giản và thuận tiện. Bài viết sau […]
                        </p>
                        <div class="flex pb-2">
                            <a href="" class="flex justify-center items-center m-auto text-center text-[14px] font-medium text-red-500 hover:text-white w-52 border border-red-500 my-4 py-1  hover:bg-red-500 ">CONTINUE READING <ion-icon name="arrow-forward-outline" class="ml-1"></ion-icon></a>               
                        </div>
                    </div>

                    <div class="border-t border-gray-400">
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full pt-10">HƯỚNG DẪN</span>
                        <h1 class="h1 text-center">Nạp tiền Vt999 – Chỉ cần 2 phút là tiền vào tài khoản</h1>
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full py-4">POSTED ON THÁNG MƯỜI HAI 25, 2023 BY ADMIN</span>
                        <div class="flex justify-center m-auto items-center md:max-w-[80%] w-[100%] py-2">
                            <img src="../img/16.png" alt="" class="w-[100%]">
                        </div>
                        <p class="leading-8 py-2">
                            Hướng dẫn chi tiết nạp tiền Vt999 Nạp tiền vào tài khoản cá cược trực tuyến vt999 là bước đầu tiên và quan trọng để có thể tham gia các hoạt động cá cược trên nhà cái này. Tuy nhiên, không phải ai cũng biết cách thực hiện quy trình nạp tiền một cách nhanh […]
                        </p>
                        <div class="flex pb-2">
                            <a href="" class="flex justify-center items-center m-auto text-center text-[14px] font-medium text-red-500 hover:text-white w-52 border border-red-500 my-4 py-1  hover:bg-red-500 ">CONTINUE READING <ion-icon name="arrow-forward-outline" class="ml-1"></ion-icon></a>               
                        </div>
                    </div>

                    <div class="border-t border-gray-400">
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full pt-10">HƯỚNG DẪN</span>
                        <h1 class="h1 text-center">Tải app vt999 – Chi tiết cách tải và cài đặt trên điện thoại</h1>
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full py-4">POSTED ON THÁNG MƯỜI HAI 25, 2023 BY ADMIN</span>
                        <div class="flex justify-center m-auto items-center md:max-w-[80%] w-[100%] py-2">
                            <img src="../img/17.png" alt="" class="w-[100%]">
                        </div>
                        <p class="leading-8 py-2">
                            Hướng dẫn cách tải và cài đặt ứng dụng vt999 Ứng dụng Vt999 đang là một trong những app cá cược và giải trí được nhiều người tin dùng tại Việt Nam. Việc tải app vt999 về điện thoại giúp bạn có thể trải nghiệm các dịch vụ giải trí và cược online mọi lúc […]
                        </p>
                        <div class="flex pb-2">
                            <a href="" class="flex justify-center items-center m-auto text-center text-[14px] font-medium text-red-500 hover:text-white w-52 border border-red-500 my-4 py-1  hover:bg-red-500 ">CONTINUE READING <ion-icon name="arrow-forward-outline" class="ml-1"></ion-icon></a>               
                        </div>
                    </div>

                    <div class="border-t border-gray-400">
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full pt-10">HƯỚNG DẪN</span>
                        <h1 class="h1 text-center">Khuyến mãi Vt999 – Các ữu đãi khủng tại nhà cái</h1>
                        <span class="inline-block items-center text-center mx-auto text-[12px] font-semibold text-blue-500 w-full py-4">POSTED ON THÁNG MƯỜI HAI 25, 2023 BY ADMIN</span>
                        <div class="flex justify-center m-auto items-center md:max-w-[80%] w-[100%] py-2">
                            <img src="../img/18.png" alt="" class="w-[100%]">
                        </div>
                        <p class="leading-8 py-2">
                            Tổng hợp đầy đủ các chương trình khuyến mãi hấp dẫn tại VT999 VT999 là một trong những nhà cái uy tín hàng đầu Việt Nam, thường xuyên có nhiều chương trình khuyến mãi VT999 hấp dẫn dành cho các thành viên. Việc tham gia các chương trình khuyến mãi này sẽ giúp người chơi […]
                        </p>
                        <div class="flex pb-2">
                            <a href="" class="flex justify-center items-center m-auto text-center text-[14px] font-medium text-red-500 hover:text-white w-52 border border-red-500 my-4 py-1  hover:bg-red-500 ">CONTINUE READING <ion-icon name="arrow-forward-outline" class="ml-1"></ion-icon></a>               
                        </div>
                    </div>

                 </div>
                <!-- end left -->

                <!-- rigth -->
                 <div class="md:w-[30%] w-[100%] md:p-4 md:border-l border-gray-300">

                    <h3 class="h3">Tìm kiếm</h3>
                    <div class="py-3">
                        <div class="relative max-w-sm mx-auto">
                            <input class="w-full py-2 px-2 border border-gray-300 shadow-sm focus:outline-none " type="search" placeholder="Search">
                            <button class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-700 bg-red-500 border border-red-500 focus:outline-none ">
                                <p class="text-white">Tìm kiếm</p>
                          </button>
                        </div>
                    </div>
                    <h1 class="h1 pt-4 pb-2">Bài viết gần đây</h1>
                    <div class="text-blue-400 cursor-pointer">
                        <p class="leading-8 py-2 hover:text-red-500">
                            Rút tiền Vt999 – Chỉ vài bước là tiền về tài khoản
                        </p>
                        <p class="leading-8 py-2 hover:text-red-500">
                            Nạp tiền Vt999 – Chỉ cần 2 phút là tiền vào tài khoản
                        </p>
                        <p class="leading-8 py-2 hover:text-red-500">
                            Tải app vt999 – Chi tiết cách tải và cài đặt trên điện thoại
                        </p>
                        <p class="leading-8 py-2 hover:text-red-500">
                            Khuyến mãi Vt999 – Các ữu đãi khủng tại nhà cái
                        </p>
                    </div>
                    <h1 class="h1">Bình luận gần đây</h1>
                    <div class="text-blue-400">
                        <p class="leading-8 py-2 hover:text-red-500">
                            Không có bình luận nào để hiển thị.
                        </p>
                    </div>

                 </div>
                <!-- end of rigth -->
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="bg-zinc-800">
            <div class="max-w-[1080px] m-auto p-4">
                <div class="grid md:grid-cols-3 gap-8 text-white ">
                    <article>
                        <div class="border-b border-gray-100">
                            <h2 class="h2 text-white font-semibold">NHÀ CÁI UY TÍN</h2>
                        </div>
                        <div>
                            <p class="leading-8 py-4">VT999 - nhà cái VT999 mới nhất. Chính sách bảo mật thông tin người chơi an toàn. Khuyến mãi nạp đầu 100% cho thành viên mới và hoàn trả đến 2% cho người chơi cũ. Cung cấp đầy đủ các game cá cược như xổ số, nổ hũ, bắn cá, tài xỉu, rồng hổ,...</p>
                            <ul class="list-disc pl-5 pt-4 space-y-4 text-white">
                                <li><a href="../component/die.html">ĐIỀU KIỆN VÀ ĐIỀU KHOẢN</a></li>
                                <li><a href="../component/chi.html">CHÍNH SÁCH BẢO MẬT</a></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="border-b border-gray-100">
                            <h2 class="h2 text-white font-semibold">TRUNG TÂM HỖ TRỢ</h2>
                        </div>
                        <div>
                            <ul class="list-disc pl-5 pt-6 space-y-4 text-white inline-block ">
                                <li><a href="../component/nap.html">NẠP TIỀN</a></li>
                                <li><a href="../component/rut.html">RÚT TIỀN</a></li>
                                <li><a href="../component/tai.html">TẢI APP</a></li>
                                <li><a href="../component/khu.html">KHUYẾN MÃI</a></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="border-b border-gray-100">
                            <h2 class="h2 text-white font-semibold">THÔNG TIN LIÊN HỆ</h2>
                        </div>
                        <div>
                            <p class="leading-8 py-4">Địa chỉ: 65 Đ. Bùi Văn Ngữ, Tân Chánh Hiệp, Hóc Môn, Thành phố Hồ Chí Minh</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </footer>


    <!-- js swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- js -->
    <script src="../js/app.js"></script>

</body>
</html>